body{
    font-family: Arial,sans-serif;
    font-size: 13px;
    color: brown;
}

.header{
    font-size: 29px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 30px;
}

.result{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    font-size: 19px;
    color: rgb(67, 0, 252);
    align-content: center;
    margin-bottom: 50px;
}

.message{
    text-align: center;
    color: blue;
    font-size: 19px;
    margin-bottom: 30px;
}

.rock,.paper,.scissors {
    height: 100px;
    width: 100px;
    padding-left: 125px;
    margin-left: 110px;
    margin-bottom: 50px;
    border: none;
    transition-duration: 0.5s;
}

.rock:hover,.paper:hover,.scissors:hover{
    height: 125px;
    width: 125px;
}

.end button{
    height: 40px;
    width: 100px;
    margin: 0 auto;
    background-color: bisque;
    color: rgb(231, 1, 1);
    border-radius: 5px;
}
